#showName, #neutral, #eat, #sleep, #play, #poop, #death {
  display: none;
}

.jumbotron {
  background-color: #c0c0c0;
  text-align: center;
}

body {
  background-color: #c0c0c0;
}

.row {
  padding: 50px;
  text-align: center;
}

.footer {
  text-align: center;
}

#egg, #neutral, #eat, #sleep, #play, #poop, #death {
  height: 16vw;
  padding-top: 50px;
}
